.head{
    background-color: #2F303A;
    width="1600"; height="600";
}

/* WebStudio */

position: absolute;
width: 134px;
height: 28px;
left: 15px;
top: 26px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.03em;

color: #2196F3;

